/* Center everything on the screen */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgb(98, 0, 190),rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the content box */
.card {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
}

/* Style the button */
button {
    background-color: rgba(0, 81, 255, 0.267);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.resetBtn {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.resetBtn:hover {
    background-color: #850000;
    outline-color: #850000;
    outline-width: 3px;
    outline-style: solid
}


button:hover {
    background-color: #0056b3;
}