@font-face {
    font-family: 'Dotted';
    src: url(./Dotted.ttf) format('truetype');
}
/* Center everything on the screen */
:root {
    --theme-color-1: #ae00ff;
}

body {
    background-image:linear-gradient(var(--theme-color-1),rgba(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.backG {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-image: url('./roblox-noob.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    object-fit: cover;
}

#theme1 {
    position: absolute;
    top: 0;
    left: 0;
}

main {
    position:absolute;
    position: absolute;
    top: 0px;       /* Distance from the top of the container */
    left: 0px;      /* Distance from the left of the container */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 30px var(--theme-color-1),0 0 30px var(--theme-color-1),0 0 30px var(--theme-color-1);
    font-family: "Dotted";
}

/* Style the content box */
.card {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0px 10px var(--theme-color-1);
    text-align: center;
    margin: 20px;
}

/* Style the button */
button {
    background-color: var(--theme-color-1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    margin: 10px;
}

.resetBtn {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.resetBtn:hover {
    background-color: #850000;
    box-shadow: 0 0px 10px #850000;
}


button:hover {
    background-color: var(--theme-color-1);
    box-shadow: 0 0px 10px var(--theme-color-1);
}